table {
    margin-right: 20px;
    padding: 10pt;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    font-size: 25px;
}

td, p, h5 {
    padding: 4px;
    margin:2px;
}

h5 {
    font-size: 20px;
}